@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/* reset 끝 */

/* container 시작 */
body {
  background-color: #dcead7;
  font-family: 'Montserrat', sans-serif;
}

.container{
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  margin-top: 50px;
}

.accordion-header{
  cursor: pointer;
}
/* container 끝 */